header {
	background-color: #FFFFFF;
}

#logoImg{
	margin-right:5%;
}

#mainDiv {

	text-align:center;
}

ul#manu li {
	font-family: "Arial", Helvetica, sans-serif;
	list-style-type: none;
	display: inline;
	font-size: small;
}

#manu{

	padding:0%;
}

li a {
	text-decoration: blink;
	color: black;
}

#searchText
{
	margin:3px; 
	border:hidden;
}

#searchBtn {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:hidden;
    background: url('../Images/searchBtn.png') no-repeat;
    background-position-y: center;
    background-position-x: right;
}


#searchForm{
	margin-left:1%;
	border-color: black;
	border-radius:8px; 
    border: 2px solid black;
    width: 8%;  
    display:inline;
    height:100%;
}

.button {

    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4em 2em;
    cursor: pointer;

    font-family: "Arial", Helvetica, sans-serif;
	font-size: small;
	border-radius: 8px;
}

.buttonLeanMore{
    background-color: #4CAF50; 
}

main{
	padding-top:2em;
}