header {
	background-color: #FFFFFF;
}

body{
	margin:0;
}

#logoImg{
	margin-right:5%;
}

.mainDiv {

	margin-left: 20%;
	margin-right: 10%;
}

ul#manu li {
	font-family: "Arial", Helvetica, sans-serif;
	list-style-type: none;
	display: inline;
	font-size: small;
}

#manu{

	padding:0 0 1% 0;
	margin-bottom: 0;
}

li a {
	text-decoration: blink;
	color: #696969;
}

#searchText
{
	margin:3px; 
	border:hidden;
}

#searchBtn {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:hidden;
    background: url('../Images/searchBtn.png') no-repeat;
    background-position-y: center;
    background-position-x: right;
}


#searchForm{
	margin-left:1%;
	border-color: #696969;
	border-radius:8px; 
    border: 2px solid #696969;
    width: 8%;  
    display:inline;
    height:100%;
}

.button {

    border: none;
    color: white;    
	text-shadow: 1px 1px 1px #949494;
    display: inline-block; 
    cursor: pointer;
	font-size: small;
	border-radius: 8px;
	text-align:left;
	box-shadow: 1px 1px 1px #949494;
}

.buttonLeanMore{
    background-color: #2a81c6; 
    margin: 1em 0em;
    padding: 1% 10% 1% 2%;
}

main{
	padding-top:2em;
	padding-bottom: 1em;
	background: url('../Images/slide-bg-complexity.jpg') center center no-repeat fixed;
    background-size: cover;
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200; 
    text-shadow: 1px 1px 1px #949494;
}

.lightFont{

	font-weight: 100;
	font-size:xx-large;
}

ul#bullets li{
	display:inline;
    
}

#bullets{

	padding-left: 0;
}

.buttonBullet{
		margin-right: 7px;
	    border-radius: 3px;
	    background-color: #D8D8D8 ;
	    height: 13px;
	    width: 13px;
	    border:hidden;
	}

.card{

	height: 7em;
	width: 16em;
	padding: 2% 3% 1% 2%;
	font-size: medium;
	margin-right: 2%;
}

.firstCard{
	background-color: #FF3399;
	opacity: 0.8;
}

.secondCard{
	background-color: #66CC00;
	opacity: 0.8;
}

.thirdCard{
	background-color: #FF6600;
	opacity: 0.8;
}

.slideBoxes{

	padding-left:0;
}

.card:hover {
    opacity: 1;
}

.buttonBullet:hover{
	background-color: #2a81c6;
}

.readMore{
	height:10%;
	padding-top: 15%;
	display:flex;
	font-size: small;
}