header {
	background-color: #FFFFFF;
	padding:0 0 1% 0;
}

body{
	margin:0;
}

#logoImg{
	margin-right:5%;
	height:52px;
	width:150px;
}

#logoImgMedium{
	display: none;
}

.content-wrapper {

	margin-left: auto;
	margin-right: auto;
	width:940px;
}

nav{
	display:inline-block;
}

#searchDiv{

	display:inline-block;
	margin-left:100px;
}

#mobileMenu{
	display: none;
}

ul#menu li {
	font-family: "Arial", Helvetica, sans-serif;
	list-style-type: none;
	display: inline-block;
	font-size: small;
	padding-right:2px;
	padding-left:2px;
	word-spacing: 2px;
}

ul#menu li:first-child { 
    margin-right:30px;
    padding-left:0;
}

ul#menu li:last-child { 
    padding-right:0;
}

#menu{

	padding-left:0;
	margin-bottom: 0;
	display:inline-block;
}

ul#menu a {
	text-decoration: blink;
	color: #696969;
}

#searchText
{
	margin:3px; 
	border:hidden;
	width:130px;
	border-radius:7px; 
    border: 1px solid #C0C0C0 ;
}

#searchBtn {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:hidden;
    /*content: url('../Images/searchBtn.png');*/
    background: url('../Images/searchBtn.png') right center no-repeat #fff;
    top: 8px;
    left: -40px;
    padding-right:0;
    outline: none;
    position: relative;
    width: 10px;
    height: 10px;
    top: 5px;
    cursor: pointer;
}


#searchForm{
	
    display:inline;
    height:100%;
}

.button {

    border: none;
    color: white;    
	text-shadow: 1px 1px 1px #949494;
    display: inline-block; 
    cursor: pointer;
	font-size: small;
	border-radius: 8px;
	text-align:left;
	box-shadow: 1px 1px 1px #949494;
}

.buttonLeanMore{
    background-color: #2a81c6; 
    margin: 1em 0em;
    padding: 1% 10% 1% 2%;
}

main{
	padding-top:2em;
	padding-bottom: 1em;
	background: url('../Images/slide-bg-complexity.jpg') center center no-repeat fixed;
    background-size: cover;
    color:white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200; 
    text-shadow: 1px 1px 1px #949494;
}


.lightFont{

	font-weight: 100;
	font-size:xx-large;
}

ul#bullets li{
	display:inline;
    
}

#bullets{

	padding-left: 0;
}

.buttonBullet{
		margin-right: 7px;
	    border-radius: 3px;
	    background-color: #D8D8D8 ;
	    height: 13px;
	    width: 13px;
	    border:hidden;
	}

.buttonBullet:hover{
	background-color: #2a81c6;
}

.card{

	width: 240px;
	height:160px;
	padding: 18px 18px 10px 14px;
	font-size: large;
	opacity: 0.8;
}

.firstCard{
	background-color: #FF3399;
	margin-right:50px;
}

.secondCard{
	background-color: #66CC00;
	margin-right:auto;
	margin-right:50px;
}

.thirdCard{
	background-color: #FF6600;
	margin-right: 0;
}

.slideBoxes{

	padding-left:0;
}

.card:hover {
    opacity: 1;
}


.readMore{
	height:10%;
	padding-top: 15%;
	display:flex;
	font-size: small;
}

.readMore-icon{

	padding-right:1%;
}


/*Media adjustments*/

@media all and (max-width: 2000px)
{
	#mobileMenu{
		display:none;
	}

}

@media all and (max-width: 1300px)
{
	#mobileMenu{
		display:none;
	}

}

/*medium screen*/
@media all and (max-width: 940px)
{

    .card{

	width: 160px;
	height:120px;
	padding: 18px 18px 10px 14px;
	font-size: small;
	margin-right: 2%;
	}

	.firstCard{
		margin-right:30px;
	}

	.secondCard{
		margin-right:auto;
		margin-right:30px;
	}

	.thirdCard{
		margin-right: 0;
	}

	.content-wrapper {

	margin-left: auto;
	margin-right: auto;
	width:650px;
}

	#mobileMenu{
		display:none;
	}
	
	ul#menu li {
		font-size: x-small;
	}


	ul#menu li:first-child {
		margin-right:20px;
	}

	#logoImgMedium{
	display: block;
	}
	
	#logoImg{
		display: none;
	}

	ul#menu li:last-child {
		margin-right:0;
	}

	#searchText{
		width: 90px;
	}

	#searchBtn{
		left:-28px;
	}

	#searchDiv{

		margin-left:6px;
	}

}

/*mobile*/
@media all and (max-width: 775px)
{

    .card{
	width: 100%;
	opacity: 1;
	margin-bottom:5px;
	font-size: large;
	}

	.content-wrapper {

	margin-left: auto;
	margin-right: auto;
	width:100%;
	overflow:hidden;
	}

	#topSlide{
	width:100%;
	margin:0;
	

	}

	main{
		padding-top:0;
	}

	#topSlideText{
	background: url("../Images/weDoBG.png");
	background-color:#3399CC;
	}

	.lightFont{
		margin-top:0;
	}

	#menu{
		display:none;
	}

	#mobileMenu{
		display:block;
		height: 50px;
	}
	header{
		margin: 15px;
	}
}

/*for high resolution mobile devices*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .card{
	width: 100%;
	opacity: 1;
	margin-bottom:5px;
	font-size: large;
	}

	.content-wrapper {

	margin-left: auto;
	margin-right: auto;
	width:100%;
	overflow:hidden;
	}

	#topSlide{
	width:100%;
	margin:0;
	

	}

	main{
		padding-top:0;
	}

	#topSlideText{
	background: url("../Images/weDoBG.png");
	background-color:#3399CC;
	}

	.lightFont{
		margin-top:0;
	}

	#menu{
		display:none;
	}

	#mobileMenu{
		display:block;
		height: 50px;
	}
	header{
		margin: 15px;
	}}